@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --tartiary-color: #7378c5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgba(79, 84, 92) !important;
  color: #ffffff !important;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .movie {
  width: min(100%, 450px);
  margin: 10px;
  background-color: var(--secondary-color);
 /*  background: linear-gradient(180deg, #3F51B5, rgb(236 239 255)); */
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 3px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  border-radius: 10px;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

main .movie img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  box-shadow: 1px 2px 5px var(--bs-body-color);
  transition: all 500ms;
}

main .movie .img_container {
  overflow: hidden;
}

main .movie:hover img {
  transform: scale(1.1);
}

main .movie .movie-info {
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: .5px;
}

main .movie .movie-info span {
  background-color: var(--primary-color);
  padding: 0.25em .5rem;
  font-weight: bold;
  border-radius: 3px;
}

main .movie .movie-info span.green {
  color: lightgreen;
}

main .movie .movie-info span.orange {
  color: orange;
}

main .movie .movie-info span.red {
  color: red;
}

main .movie .movie-info h3 {
  margin-top: 0;
  font-weight: 1000;
  text-shadow: 0px 8px 8px black;
}

main .movie .release_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 1rem 1rem;
  color: #fff;
}

main .movie .normal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem 1rem;
  color: #fff;
}

main .movie .release_date span {
  padding-left: 5px;
  font-weight: bold;
}

main .movie .genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem 1rem;
  color: #fff;
}

main .movie .genre h4 {
  margin-right: 10px;
}

main .movie .genre ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

main .movie .genre ul li {
  background: var(--primary-color);
  padding: 4px 10px;
  border-radius: 50px;
  text-align: center;
}

main .movie .overview {
  background-color: #fff;
  color: var(--secondary-color);
  padding: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  -webkit-transform: translateY(101%);
  transform: translateY(101%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

main .movie:hover .overview {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

/* Load More 劇集 */
.loading,
.no-more-content {
  border-radius: 10px;
  position: fixed;
  top: 50%;
  transform: translate(50%);
  padding: 10px;
  background: var(--bs-danger);
  animation: bounce 2s infinite;
}

.loading__letter,
.no-more-content__letter {
  font-size: xxl;
  font-weight: 1000;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Audiowide";
  margin: 0 0.2em;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(-20px);
  }

  80%,
  100% {
    transform: translateY(0px);
  }
}

/* Button CSS */
.custom-btn {
  width: 130px;
  /* height: 40px; */
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 1000;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

/* 11 */
.btn-11 {
  border: none;
  background: linear-gradient(180deg, #3F51B5, rgb(236 239 255));
  color: #fff;
  overflow: hidden;
  text-shadow: 0 1px 1px BLACK;
  font-size: 24px;
  text-align: center;
  animation: anim-btn 3s ease-in-out infinite;
                border: 1px dotted #3F51B5;
}

h1 {
  font-size: inherit;
}

.btn-11:hover {
  text-decoration: none;
  color: #fff;
}

/* .btn-11:before {
                position: absolute;
                content: '';
                display: inline-block;
                top: -180px;
                left: 0;
                width: 30px;
                height: 100%;
                background-color: #fff;
                animation: anim-btn 3s ease-in-out infinite;
        } */
@keyframes anim-btn {
  0% {
    box-shadow: 0 0 #3F51B5;
    -webkit-transform: scale(.97);
    transform: scale(.97);
  }

  70% {
    box-shadow: 0 0 0 7px transparent;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 transparent;
    -webkit-transform: scale(.97);
    transform: scale(.97);
  }
}

.btn-11:hover {
  opacity: .7;
}

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}